<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    
    <div class="cell">
        <p>EDIT POKEMON</p>
        <form action="/pokemon/<%= id %>?_method=PUT" method="post">
        Name: <input type="text" name="name" value="<%= id.name %> " /> Type:
        <input type="text" name="type" value="<%= id.type%>" /> Classification:
        <input
          type="text"
          name="classification"
          value="<%= id.misc.classification %>"
        />
        <input type="submit" name="" value="Submit Changes" />
      </form>
      <a href="/pokemon">Return Home</a>
    </div>
    
  </body>
</html>
