<!DOCTYPE html>
<html lang="en">



<%- include('./partials/head.ejs') %>
  

<body>
    <div class="header">
        <a href="/pokemon/new">make a new pokemon</a>
    </div>   
    <div class=container>
    <% for (let i=0;i<allPokes.length;i++){ %>
    <div class="cell">
    <a href="/pokemon/<%=i%>">
   
    <img class="index-photo"
   <% if (allPokes[i].img){%>
    src= "<%= allPokes[i].img %>"/>
    <%}else{%>
        src = "pokeball.png"/>
        <%}%>  
    </a><div class="info">
    #<%= allPokes[i].id%> <%= allPokes[i].name%>
    </div>
    </div> 
    <%}%>

    </div>
  </body>
</html>
